/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #343a40;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Select and Input Styles */
select, input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin: 5px;
    width: 200px;
}
.r{
    text-align: right;
    
}
/* Table Styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

td {
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #dee2e6;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Responsive Design */
@media (max-width: 768px) {
    button {
        width: 100%;
    }
    
    select, input[type="text"] {
        width: 100%;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
