<div class="parent">
    <div class="child1">

        <div class="My">My WebSite</div><hr>
        <button routerLink="home" >Home</button><br>
        <button routerLink="welcome">welcome</button><br>
        <button routerLink="databinding">databinding</button><br>
        <button routerLink="calculator">calculator</button><br>
        <button routerLink="rectangle">rectangle</button><br>
        <button routerLink="circle">circle</button><br>
        <button routerLink="dice">dice</button><br>
        <button routerLink="directives">directives</button><br>
        <button routerLink="pipes">pipes</button><br>
        <button routerLink="tasks">tasks</button><br>
        <button routerLink="flipkart">flipkart</button><br>
        <button routerLink="higher-order">Higherorder</button><br>
        <button routerLink="pratice">pratice</button><br>
        <button routerLink="vehicle">vehicle</button><br>
        <button routerLink="bank">bank</button><br>
        <button routerLink="create-vehicle">create-vehicle</button><br>
        <button routerLink="students">students</button><br>
        <button routerLink="create-user">create-user</button>
        <button routerLink="studentuser">studentuser</button>


        <button>Logout</button>
    </div>
    <div class="child2">
        <router-outlet></router-outlet>
        
    </div>
</div>
    
    
